/* General Wordpress Styling Starts */

.page-header {
display: none;
}

/* General Wordpress Styling Ends */

/* General Elementor Styling Starts */

/* Icon Styling Starts */

.elementor-icon-wrapper {
	text-align: center;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: center;
}

/* Icon Styling Ends */

/* General Elementor Styling Starts */

/* Global Surecart Styling Starts */

.alignwide {
	max-width: 100%;
	margin: 0px auto !important;
}

sc-tab-group::part(base) {
	padding: 2% 8% 5% 8%;
	gap: 30px;
}

.checkout {
	max-width: 100%;
	padding: 2% 8% 5% 8%;
	margin: 0px auto !important;
}

.sc-columns {
	gap: 80px;
}

@media only screen and (min-width: 700px) and (max-width: 1000px)  {
	.alignwide {
		max-width: 100%;
		margin: 0px auto !important;
	}

	sc-tab-group::part(base) {
		padding: 5%;
		gap: 0px;
	}

	.checkout {
		max-width: 100%;
		padding: 5%;
		margin: 0px auto !important;
	}

	.sc-columns {
		gap: 0px;
	}

}

@media only screen and (min-width: 10px) and (max-width: 700px)  {
	.alignwide {
		max-width: 100%;
		margin: 0px auto !important;
	}

	sc-tab-group::part(base) {
		padding: 15% 5% 15% 5%;;
		gap: 0px;
	}

	.checkout {
		max-width: 100%;
		padding: 15% 5%;
		margin: 0px auto !important;
	}

	.sc-columns:not(.is-not-stacked-on-mobile)>sc-column {
		flex-basis: 100% !important;
		padding: 0px !important;
	}

	.sc-columns {
		gap: 40px;
	}
}

/* Global Surecart Styling Ends */
